body {
  font-family: testfont;
    background-color: #FFFFFF;
    min-width: 720px;
}

@font-face {
    font-family: testfont;
    src: url("hk-grotesk/HKGrotesk-Regular.otf") format("opentype");
}

.big_container{
    margin-right: 15%;
    margin-left: 15%;
}

h1 {
    font-size: 4em;
    font-weight: normal;
}

a {
    text-decoration: none;
}

h2,h3,h4,table,p,a,li,ul{
    font-weight: normal;
    max-height: 999999px;
}

h6{
    font-style: italic;
    color: crimson;

}

table.menu {
    font-size: 1.3em;
    width: 100%;
}

a:link { color: #00f; }
a:visited { color: #009; }
a:hover { color: #06f; }
a:active { color: #0cf; }

@media screen and (max-width: 980px)  {
    .big_container{
        margin-right: 0px;
        margin-left: 0px;
    }
}

.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% { opacity: 0; }
}
